body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.intro-section,
.color-section {
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

.button {
    appearance: none;
    border: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 28px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
}

.button:hover {
    background-color: #2d2d2d;
    color: azure;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);
}

footer {
    text-align: center;
    margin-top: 20px;
}